/* 구글의 웹폰트 사이트에서 Dongle 글 꼴 가져오기, 
임베디드 , 코드 가져오기 에서, import 형식으로 진행
순서1, 
설정 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Nanum+Pen+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    /* 박스의 영역은 테두리 포함  */
    box-sizing: border-box;
    /* 순서2, 적용할 요소에 반영하기.  */
    font-family: "Dongle";
}

a {
    /* 기본 언더라인 제거 */
    text-decoration: none;
}

ul {
    list-style: none;
}

#container {
    /* 0 : 위,아래의 마진, auto : 왼쪽,오른쪽 의 마진 -> 화면 중앙 배치 */
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
}

header {
    width: 100%;
    height: 100px;
    background-color: coral;
}

#logo {
    /* 헤더에서 특정 로고의 위치를 배치할 때 자주 사용함.  */
    float: left;
    width: 250px;
    height: 100px;
    /* 세로로 중간에 맞춤 , 줄간격을 높이 값과 같게 */
    line-height: 100px;
    padding-left: 20px;
}

#logo h1 {}